// Import Google Fonts
$font: "https://fonts.googleapis.com/css?family=Oswald:200,400|Special+Elite";

@if global_variable_exists(font) {
    @import url($font);
}

// Fonts
$heading-font: "Special Elite", cursive;
$p-font: "Oswald", sans-serif;

// Colors
$dark-blue: darken($color: #69C8EC, $amount: 45%);
$light-blue: #16BEFF;
$green: #23D43E;
